# Node modules (dependencies)
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/